.find-jobs-search .form-control {
    border-radius: 999px;
    background: #fff;
    border: 0.125rem solid #a8a8a8;
    font-size: .9375rem;
    padding: 1.0625rem 2.5rem;
}

.banner {
    position: relative;
}

.bannerContent {
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    color: #fff;
}

.find-jobs-form {
    border-radius: 999px;
    padding: 0.625rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select>select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
    z-index: 0 !important;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.find-jobs-form .dropdown-toggle,
.find-jobs-form .show>.btn-light.dropdown-toggle {
    border-radius: 999px;
    color: #888888;
    padding: 1.0625rem 1.3125rem 1.0625rem 2.25rem;
    font-size: .9375rem;
    background-color: #ffffff;
    border: 0.125rem solid #a8a8a8;
}

.bootstrap-select>.dropdown-toggle {
    position: relative;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.btn-com01 {
    font-size: .9375rem;
    padding: 1.125rem;
    width: 100%;
    max-width: 10.625rem;
    border-radius: 999px;
}

.btn-success {
    color: #fff;
    background-color: #10bf51;
    border-color: #10bf51;
}

.job-content{
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    border-radius: 0;
    background: #fff;
}

.job-title {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #0e1724;
    font-weight: 700;
    margin-right: 4px;
    margin-bottom: 16px;
}

.job-short-des {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    margin-bottom: 16px;
    max-height: 96px;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
}

.item-job{
    padding: 15px;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.JobSearchCard-primary {
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: table-cell;
    padding-right: 24px;
}

@media (min-width: 960px){
    .JobSearchCard-secondary {
        display: table-cell;
        padding-right: 0;
        width: 160px;
    }
}

.JobSearchCard-secondary-price {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 8px;
}

.JobSearchCard-secondary-avgBid {
    font-size: 13px;
    font-size: .8125rem;
    line-height: 1.2;
    font-weight: 400;
}

.JobSearchCard-secondary-entry {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.43;
}

.btn-mini:hover {
    text-decoration: none;
}

.btn-success:hover {
    background: #5dc26a;
    border-color: #5dc26a;
    color: #F7F7F7;
}

.btn-success:active {
    background: #4ab058;
}

.btn-success {
    background: #4fb55d;
    border: 1px solid #4fb55d;
    color: #F7F7F7;
    font-weight: 700;
    text-shadow: 0 -1px transparent;
}

.btn-mini {
    padding: 4px 12px;
    font-size: 13px;
    font-size: .8125rem;
    border-radius: 0;
    font-weight: 400;
}

.JobSearchCard-ctas {
    display: none;
}

.item-job:hover{
    cursor: pointer;
}

.item-job:hover .JobSearchCard-ctas{
    display: block;
}

.JobSearchCard-primary-tagsLink {
    margin-bottom: 8px;
    margin-right: 8px;
}

.Item-menu {
    padding: 5px;
    background-color: #e3e3e3;
    margin-top: 5px;
    color: var(--bs-gray-700);
    text-align: center;
}

.Item-menu:hover{
    cursor: pointer;
    background: #4fb55d;
    color: white;
}
.Active {
    cursor: pointer;
    background: #4fb55d;
    color: white;
}

.Create-job{
    margin-bottom: 10px;
    background-color: #4fb55d;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

input, select, textarea{
    padding: 8px;
    width: 100%;
    background-color: #def0ff;
    border: 1px solid #e5e5e5;
}

*:focus {
    outline: none;
}

.Underline {
    border-bottom: 1px solid #e5e5e5;
}

a {
    text-decoration: none;
}