body {
    background-color: #edeef0;
}

nav {
    background-color: #fff;
}

header nav {
    padding: 10px 0;
}

a {
    text-decoration: none;
}

.TopSearch__input {
    border: 0;
    background-color: #edeef0;
    border-radius: 8px;
    margin: 0;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.92%22%3E%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200H16V16H0z%22%2F%3E%3Cpath%20d%3D%22M6.5%201a5.5%205.5%200%200%201%204.383%208.823l3.896%203.9a.75.75%200%200%201-1.061%201.06l-3.895-3.9A5.5%205.5%200%201%201%206.5%201zm0%201.5a4%204%200%201%200%200%208%204%204%200%200%200%200-8z%22%20fill%3D%22%23818c99%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 2rem;
}

.TopSearch__input {
    box-sizing: border-box;
    line-height: 28px;
    width: 230px;
    transition: background-color .05s, color .05s;
    height: 32px;
    color: black;
}

.TopNavBtn__icon {
    color: #6f7985;
    opacity: .8;
}

.TopNavBtn__inner {
    padding: 10px;
}

.TopNavBtn__profileImg {
    height: 32px;
    width: 32px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.MediaSelector__mediaIcon {
    margin-left: 17px;
}

.wide_column {
    background-color: #fff;
    padding: 16px 20px 16px 12px;
}

.SitpostingEntrypoint::before {
    position: absolute;
    top: 4px;
    content: '';
    height: 12px;
    width: 1px;
}

.MediaSelector__mediaIcon {
    color: #818c99;
}

.wide_column-item span {
    color: #818c99;
    font-size: 14px;
}

main {
    margin-top: 1rem;
}

img.TopNavBtn__profileImg.camera {
    border-radius: 50%;
}

.navRight {
    float: right;
}

ol.side_bar_ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

ol.side_bar_ol li {
    padding: 7px 6px;
}

ol.side_bar_ol li a {
    font-size: 14px;
    color: #14181d;
}

ol.side_bar_ol li a svg {
    color: #5181b8;
    margin-right: 5px;
}

.contentRight {
    background-color: #fff;
    padding: 5px 5px 5px 20px;
}

p {
    font-size: 14px;
}